{% extends "base.html" %}

{% block head %} 
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<div>
    <div class="bg-light p-5 rounded">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>Welcome to the Programmer Blog! Here will be talking everything about programming and more.</p>
        <p>Go visit us at our webdite <a href="https://www.newplan.cf">newplan.cf</a> to check out more cool stuff beyong just blogs.</p>
          <a class="btn btn-primary" href="/posts" role="button">Go To Posts &raquo;</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
